{% extends "layout.html" %}

{% block main %}

<div class = "container-fluid">
    <h1>
        Grapevine
    </h1>
    <br>

    <div width = "100%" class = "text-center ">
        <a href="/general" class = "text-start">General          </a>
        <a href="/gaming" class = "text-center">Gaming</a>
        <a href="/homework-help" class = "text-end">          Homework Help</a>
        <a href="/cs50" class = "text-center">CS50 Demo</a>
        <a href="/clean" class = "text-center">Clean Channel</a>
    </div>

    <div width = "100%" class = "text-right">

    </div>
</div>

{% endblock %}