{% extends "layout.html" %}

{% block main %}

<div class = "container-fluid">
    <div class = "text-start">
        <a href = "/{{ sect[1] }}">Back to {{ sect[0] }}</a>
    </div>
    <div class = "text-center">
        <form action = "/reply" method = "post">
            <input type = "submit" name = "{{ info['id'] }}" value = "Reply"> <br>
        </form>
    </div>
    <div class = "ms-4">
        <div class = "h6">
            {{ info["title"] }}
        </div>
        {{ info["username"] }} says:
        <br>
        {{ info["content"] }}
        <br> <br>

        {% for reply in replies %}
        <div class = "indent">
            {{ reply["username"] }}  replies:
            <br>
            {{ reply["content"] }}
            <br> <br>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}